ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #112e51;
  }
  
li {
    float: left;
    text-decoration: none;
}
  
.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
  
  /* Change the link color to #111 (black) on hover */
.nav:hover {
}